.header {
    font-family: 'Oswald', sans-serif;
    background: url('/07_Bot.jpg');
    background-size: cover;
    color: #FFFFFF;
}

.header .inner {
    background: rgba(119, 79, 56, 0.85);
    padding: 1rem;
}

.header h1 {
    margin: 0;
}